
.logo{
    width: 70%;
}


.claseActiva{
    color: blueviolet !important;
}


.navbar-item{
    margin-right: 2rem;
    color: #46515C;
    font-size: .8rem;
}

.navbar-item:hover{
    color: blueviolet !important;

}

.header{
}